<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Jyotish</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone lets you ask Pandit-ji questions by voice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition turns your voice into a question for Pandit-ji.</string>
	<key>SUPABASE_ANON_OR_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_ANON_OR_PUBLISHABLE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Fraunces-Light.ttf</string>
		<string>Fonts/Fraunces-Regular.ttf</string>
		<string>Fonts/Fraunces-Medium.ttf</string>
		<string>Fonts/Fraunces-SemiBold.ttf</string>
		<string>Fonts/Fraunces-Bold.ttf</string>
		<string>Fonts/Inter-Light.ttf</string>
		<string>Fonts/Inter-Regular.ttf</string>
		<string>Fonts/Inter-Medium.ttf</string>
		<string>Fonts/Inter-SemiBold.ttf</string>
		<string>Fonts/Inter-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
